<script lang="coffee">

  module.exports =
    name: "BlogIndex"

</script>

<template>

<div class="px-2">
  <div class="container py-5">
    <div class="flex px-2">
      <h1 class="tn-1 caps tw-semibold mb-4">Posts</h1>
      <a v-link="{ path: '/admin/collections/listings/new' }" class="d-block tn-2 caps c-black tw-semibold item-right"><span class="iconic iconic-xs mr-1" data-glyph="plus-thin"></span>New</a>
    </div>

    <article class="mb-1 relative">
      <a href="#" class="absolute-top-left wp-100 hp-100 b-8"></a>
      <div class="flex items-start py-1 z-1">
        <div class="px-2 pt-1">
          <h1 class=" tw-semibold mb-1">Local Attractions</h1> 
          <!-- <h2 class="tn-3 caps tw-semibold cg-3 antialiased">Santa Cruz, CA</h2>  -->
        </div>
        <!-- <div class="absolute-right-bottom br-7 bb-7">
          <div class="rounded-top-left crop w-2 h-2">
            <img src="http://www.zillowstatic.com/static/images/m/apple-touch-icon.png" class="wp-100 hp-100" />
          </div>
        </div> -->
      </div>
    </article>

  </div>
</div>
</template>