<script lang="coffee">

  module.exports =
    name: "NavigationSettings"

</script>

<template>

  <div transition="slideInUp" class="relative pb-8" style="min-height: 100vh;">

    <section class="px-4 pt-6 pb-4">
      <div class="px-4 mb-2">
        <h2 class="caps tn-2 cg-3 antialiased">Site Header</h2>
      </div>
      <header class="wp-100 p-3 z-8">
        <div class="h-5 cbg-black shadow"></div>
      </header>
    </section>

    <section class="px-4 pb-4">
      <div class="px-4 mb-2">
        <h2 class="caps tn-2 cg-3 antialiased">Site Footer</h2>
      </div>
      <header class="wp-100 p-3 z-8">
        <div class="px-4 py-4 cbg-white shadow">
          
          <nav class="mln-1">
            <div class="d-inline-block px-1 py-1 mln-1 hover-borderFadeIn-target">
              <a href="#" class="caps tn-2 tw-semibold c-black px-1">Home</a>
              <a href="#" class="caps tn-2 tw-semibold c-black px-1">Areas</a>
              <a href="#" class="caps tn-2 tw-semibold c-black px-1">Listings</a>
              <a href="#" class="caps tn-2 tw-semibold c-black px-1">Blog</a>
              <a href="#" class="caps tn-2 tw-semibold c-black px-1">About</a>
              <a href="#" class="caps tn-2 tw-semibold c-black px-1">Contact</a>
            </div>
          </nav>

          <nav class="mln-1">
            <div class="d-inline-block px-1 py-1 mln-1 mtn-1 hover-borderFadeIn-target">
              <a href="#" class="caps tn-3 tw-semibold cg-3 antialiased px-1">Facebook</a>
              <a href="#" class="caps tn-3 tw-semibold cg-3 antialiased px-1">Twitter</a>
              <a href="#" class="caps tn-3 tw-semibold cg-3 antialiased px-1">Instagram</a>
            </div>
          </nav>

          <div class="mt-6">
            <p class="caps tn-2 cg-4 antialiased tw-semibold mb-1">Built on Threshold</p>
            <p class="tn-2 cg-4 antialiased">&copy;2016 by Santa Cruz Properties, LLC</p>
          </div>
        </div>
      </header>
    </section>

  </div>
</template>