<script lang="coffee">

  module.exports =
    name: "SiteInfoSettings"

    data: ->
      animate: true
      settings:
        site_info: {}

    route:
      data: ->
        @$http.get('settings')
          .then (response) ->
            @$set('settings', response.data)
          .catch (response) ->
            console.error response

    methods:
      update: ->
        console.log 'submit'
        @$http.put('settings', @settings)
          .then (response) ->
            console.log 'Settings Updated', @settings
          .catch (response) ->
            console.error response

</script>

<template>

  <div transition="slideInUp" class="relative pb-8" style="min-height: 100vh;">

    <div class="px-4 pt-6 pb-4">
      <div class="px-4 mb-2">
        <h2 class="caps tn-2 cg-3 antialiased">Basic Information</h2>
      </div>

      <form @submit.prevent="update" class="wp-md-75 relative">
        <div class="cbg-white shadow px-4 py-4 mb-4">
          <div class="row mb-4">
            <div class="field col-md-8">
              <label class="tn-1 mb-1">Site Title</label>
              <p class="maxw-9 pr-4 tn-1 cg-3 antialiased pr-4 mb-2">This is the title that will show up in search engine results and browser tabs.</p>
              <input type="text" v-model='settings.site_info.site_name' class="tn-1">
            </div>
          </div>
          <div class="row">
            <div class="field">
              <label class="tn-1 mb-1">Site Description</label>
              <div class="field col-md-8">
                <p class="tn-1 cg-3 antialiased pr-4 mb-2">Concise descriptions that accurately describe the content and purpose of the website perform best.</p>
              </div>
              <textarea class="minh-6 tn-1" v-model='settings.site_info.site_description'></textarea>
            </div>
          </div>

          <!-- 
            Move to design.

          <div class="row">
            <div class="field">
              <label class="tn-1 mb-1">Brand</label>
              <p class="maxw-9 pr-4 tn-1 cg-3 antialiased mb-2">Your brand or logo that will display on your site.</p>
              
              <div class="w-7 h-7 cbgg-8 rounded relative ">
                <input type="file" class="wp-100 hp-100">
                <div class="iconic iconic-md absolute-center-middle cg-6" data-glyph="image-landscape"></div>
              </div>
            </div>
          </div> 
          -->
        </div>

        <div class="px-4 mb-2">
          <h2 class="caps tn-2 cg-3 antialiased">Advanced</h2>
        </div>
        <div class="cbg-white shadow px-4 py-4 mb-4"></div>
        
        <button type="submit" class="btn-solid-black">Save</button>

      </form>
    </div>
  </div>

</template>