<script lang="coffee">

  module.exports =
    name: "CollectionIndex"

    components:
      EditorItemToolbar: require('./../../shared/editor-item-toolbar')

    data: ->
      collection: []
      entry: {}

    route:
      data: ->
        @$http.get('entries' + @$route.params.collection_id)
          .then (response) =>
            @$set('entry', response.data)
            @$http.get(@entry.model_name)
              .then (response) ->
                @$set('collection', response.data)
              .catch (response) ->
                console.error response
          .catch (response) ->
            console.error(response)     

</script>

<template>

  <div>
    <editor-item-toolbar :title="entry.title" :endpoint="'entries/' + $route.params.page_id" :data="entry"></editor-item-toolbar>

    <div class="px-4 pt-6 pb-4">
      <div class="cbg-white shadow relative">

      <div v-for="item in collection" class="">
        {{ item.title }}
      </div>
        <!-- 
        <div class="px-2">
          <div class="container py-5">
            <div class="flex px-2">
              <h1 class="tn-1 caps tw-semibold mb-4">Listings</h1>
              <a v-link="{ path: '/content/collections/'+ $route.params.model_name + '/new' }" class="d-block tn-2 caps c-black tw-semibold item-right"><span class="iconic iconic-xs mr-1" data-glyph="plus-thin"></span>New</a>
            </div>

            <article v-for="property in collection" class="mb-2 relative">
              <a href="#" class="absolute-top-left wp-100 hp-100 cbg-white"></a>
              <div class="flex items-end relative z-1">
                <div class="col-2 pr-3">
                  <div class="h-5 crop">
                    <img src="http://photos1.zillowstatic.com/p_h/ISizyhu9hsb8uc0000000000.jpg" class="wp-120" />
                  </div>
                </div>
                <div class="pr-2 pb-2 relative">
                  <h1 class="tn-2 caps tw-semibold">{{ property.title }}</h1> 
                  <p class="tn-3 caps tw-semibold cg-3 antialiased">Santa Cruz, CA</p> 
                </div>
                <div class="px-2 pb-2 item-right">
                  <p class="tn-2 caps tw-semibold">$899,900</p> 
                </div>
              </div>
            </article>
          </div>
        </div> 
        -->
      </div>
    </div>
  </div>
</template>