<script lang="coffee">

  module.exports =
    name: "NewCollection"

</script>

<template>
  <div class="cbgg-8">
    <div class="fixed-top-right wp-80 cbg-white bb-7">
      <div class="flex items-center">
        <a v-link="{ path: '/content/collections/' + $route.params.model_name }" class="d-inline-block h-4 px-3 py-2 br-7">
          <span class="iconic" data-glyph="arrow-left-fill-large"></span>
        </a>

        <h1 class="caps tn-2 tw-semibold ml-2">New Listing</h1>
      </div>
    </div>
    <div class="container px-2 pt-7 pb-5">
    
      <form class="pb-5">
 <!--        Rental
        Auction
        For Sale -->

        <div class="cbg-white py-2 px-3 mb-3">
          <div class="row field mb-2">
            <div class="col-8">
              <label class="tn-1 mb-1">Address</label>
              <input type="text" class="tn-1 px-2 mb-1">
              <input type="text" class="tn-1">
            </div>
          </div>
          <div class="row field mln-2">
            <div class="col-5 pl-2">
              <label class="tn-1 mb-1">City</label>
              <input type="text" class="tn-1 mb-1">
            </div>
            <div class="col-1 pl-2">
              <label class="tn-1 mb-1">State</label>
              <input type="text" class="tn-1 mb-1">
            </div>
            <div class="col-2 pl-2">
              <label class="tn-1 mb-1">Zip</label>
              <input type="text" class="tn-1 mb-1">
            </div>
          </div>
        </div>

        <div class="cbg-white py-2 px-3 mb-3">
          <div class="row field mb-2 mln-2">
            <div class="col-3 pl-2">
              <label class="tn-1 mb-1">Price</label>
              <input type="text" class="tn-1 mb-1">
            </div>
            <div class="col-4 pl-2">
              <label class="tn-1 mb-1">Home Type</label>
              <select class="tn-1 mb-1">
                <option>House</option>
                <option>Apartment</option>
                <option>Condo</option>
                <option>Townhome</option>
              </select>
            </div>
          </div>

          <div class="row field mb-2 mln-2">
            <div class="col-2 pl-2">
              <label class="tn-1 mb-1">Beds</label>
              <input type="number" class="tn-1 mb-1">
            </div>
            <div class="col-2 pl-2">
              <label class="tn-1 mb-1">Baths</label>
              <input type="number" class="tn-1 mb-1">
            </div>
            <div class="col-3 pl-2">
              <label class="tn-1 mb-1">Area <span class="tn-2">(Square Feet)</span></label>
              <input type="number" class="tn-1 mb-1">
            </div>
            <div class="col-3 pl-2">
              <label class="tn-1 mb-1">Lot <span class="tn-2">(Square Feet)</span></label>
              <input type="number" class="tn-1 mb-1">
            </div>
          </div>

          <div class="row field mln-2">
            <div class="col-5 pl-2">
              <label class="tn-1 mb-1">Neighborhood</label>
              <select class="tn-1 mb-1">
                <option>Santa Cruz</option>
              </select>
            </div>
          </div>
        </div>

        <div class="cbg-white py-2 px-3 mb-3">
          <div class="row field mln-2">
            <div class="pl-2">
              <label class="tn-1 mb-1">Description</label>
              <textarea class="tn-1 h-7"></textarea>
            </div>
          </div>
        </div>

        <div class="container my-5">
          <div class="wp-100 flex justify-center tn-1 mln-1">
            <a href="#" class="wp-100 px-4 py-4 ta-center c-black b-7 cbg-white ml-1">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="image-landscape"></span>
              <span class="d-block mbn-1">Pictures</span>
            </a>
            <a href="#" class="wp-100 px-4 py-4 ta-center c-black b-7 cbg-white ml-1">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="group"></span>
              <span class="d-block mbn-1">Floorplan</span>
            </a>
            <a href="#" class="wp-100 px-4 py-4 ta-center c-black b-7 cbg-white ml-1">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="screen-viewport"></span>
              <span class="d-block mbn-1">3D Tour</span>
            </a>
            <a href="#" class="wp-100 px-4 py-4 ta-center c-black b-7 cbg-white ml-1">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="map"></span>
              <span class="d-block mbn-1">Map</span>
            </a>
          </div>
        </div>

        <div class="flex items-center">
          <input type="submit" class="btn-solid" value="Create">
          <a href="#" class="tn-2 cg-4 antialiased caps tw-semibold ml-2">Save as Draft</a>
        </div>
      </form>


    </div>
  </div>
</template>