<script lang="coffee">

module.exports =
  name: 'CollectionIndex'

  mixins: [
    require('./../../mixins/content-block')
  ]

  props:
    block: 
      default: ->
        return {}

  data: ->
    editMode: false
    properties: []

  ready: ->
    @$http.get('properties')
      .then (response) ->
        @$set('properties', response.data)
      .catch (response) ->
        console.error response

    console.log @$root.theme


</script>

<template>
  <div class="mb-5">
    <div class="h-7"></div>

    <div v-if="block.options.collection_id == 'properties'" @click="enableEditMode" class="container px-2 py-2 hover-borderFadeIn-target">
      <div class="flex flex-wrap mln-2 mbn-4">
        <article v-for="property in properties | limitBy block.options.limit" class="col-3 pl-2 mb-4">
          <div class="ratio-1_1 cbgg-8 mb-2"></div>
          <div>
            <p class="tn-1">{{ property.title }}</p>
          </div>
        </article>
      </div>
    </div>

    <div v-if="editMode" transition="fadeInStagger" class="overlay-80 fixed-top-left wp-100 hp-100 z-9 px-5 py-5">
      <a href="#" @click.prevent="disableEditMode" class="absolute-top-left wp-100 hp-100 zn-1"></a>
      <div class="container">
        <div class="cbg-white py-3 px-3 mb-4">
          <!-- <h2 class="caps tn-2 tw-semibold mb-2">Collection</h2> -->
          <div class="row">
            <div class="flex flex-end mln-1">
              <div class="flex-grow field col-4 pl-1">
                <label class="tn-1 mb-1">Collection</label>
                <select class="tn-1">
                  <option>Properties</option>
                </select>
              </div>
              <div class="field col-2 pl-1">
                <label class="tn-1 mb-1">Limit</label>
                <input type="number" class="tn-1">
              </div>
              <div class="field col-2 pl-1">
                <label class="tn-1 mb-1">Sort By</label>
                <select class="tn-1">
                  <option>Name</option>
                  <option>Date Added</option>
                </select>
              </div>
              <div class="col-2 pl-1">
                <input type="submit" class="btn-solid tn-1 wp-100" style="height: 38px;" value="Save">
              </div>
            </div>
          </div>
        </div>

        <article v-for="property in properties" class="stagger mb-2 relative">
          <a href="#" class="absolute-top-left wp-100 hp-100 cbg-white"></a>
          <div class="flex items-end relative z-1">
            <div class="col-2 pr-3">
              <div class="h-5 crop">
                <img src="http://photos1.zillowstatic.com/p_h/ISizyhu9hsb8uc0000000000.jpg" class="wp-120" />
              </div>
            </div>
            <div class="pr-2 pb-2 relative">
              <h1 class="tn-2 caps tw-semibold">{{ property.title }}</h1> 
              <p class="tn-3 caps tw-semibold cg-3 antialiased">Santa Cruz, CA</p> 
            </div>
            <div class="px-2 pb-2 item-right">
              <p class="tn-2 caps tw-semibold">$899,900</p> 
            </div>
          </div>
        </article>
      </div>
    </div>

  </div>
</template>