* {
  box-sizing: border-box;
}

.circle {
  border-radius: 50%;
}

.baseline {
  & > * {
    position: relative;
    top: 2px;
  }
}

.iconic-xs:before {
  top: 1px;
  font-weight: 400;
  font-size: 0.65rem !important;
}

.iconic[data-glyph]:before {
  top: 1px;
}

.iconic-sm:before {
  font-weight: 400;
  font-size: 0.8rem !important;
}

&.iconic-md:before {
  font-weight: 500;
  font-size: 1.5rem !important;
}