button {
  font-family: $default-type-family;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

[class^='btn-'],
[class*=' btn-'] {

  &[class*='solid'] {
    @extend .cbg-black;
    @extend .c-white;
    @extend .px-2;
    @extend .py-1;
    @extend .tn-2;
    @extend .caps;
    @extend .antialiased;
    @extend .tw-semibold;
  }
}