select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
}

textarea {
  @extend .wp-100;
}

input[type='submit'] {
  border: none;
  appearance: none;
  -webkit-appearance: none;  
}

input[type='file'] {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  cursor: pointer;
}

.field {

  label {
    @extend .d-block;
  }

  input,
  select,
  textarea {
    @extend .py-1;
    @extend .px-2;
    @extend .cbgg-8;
    @extend .b-8;
    @extend .wp-100;
    // @extend .rounded;
    // @extend .px-2;

    outline: none;
    font-family: $default-type-family;
    line-height: 1.5;
    transition: border 0.14s ease-in,
                background 0.14s ease-in;

    &:focus {
      @extend .cbg-white;
      @extend .b-black;
    }
  }

  textarea {
    max-width: 100%;
  }

}