.vue-html5-editor {
  border-radius: 0 !important;
  border: none !important;

  .icon {
    width: auto !important;
    height: auto !important;
    display: block !important;
  }

  b { @extend .tw-bold; }
}

.md-editor {
  @extend .hp-100;

  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.md-preview {

  h1 { 
    @extend .t-3;
    @extend .mb-4;
    @extend .tw-semibold;
    @extend .pb-1;
    @extend .bb-7;
  }

  h2 { 
    @extend .t-1;
    @extend .mb-3;
    @extend .tw-semibold;
  }

  h3 { 
    @extend .mb-2;
    @extend .tw-semibold;
  }

  pre,
  p {
    @extend .mb-3;
  }

  ul {
    @extend .pl-2;
    @extend .mb-3;

    list-style-type: disc;
  }

  ol {
    @extend .pl-2;
    @extend .mb-3;
  }

  strong { @extend .tw-bold; }

  blockquote {
    @extend .d-block;
    @extend .pl-2;

    @extend .bl-thick-7;
  }

  th {
    @extend .px-2;
    @extend .cbgg-7;
    @extend .b-6;
  }
  td {
    @extend .px-2;
    @extend .b-6;
  }
}