<script lang="coffee">

  module.exports =
    name: "Landing"

    components:
      ContentBuilder: require('../shared/content-builder')
      EditorItemToolbar: require('../shared/editor-item-toolbar')

    data: ->
      entry: {}

    route:
      data: ->
        @getEntry()

    events:
      'delete-block': (index) ->
        @entry.blocks.splice(index, 1)

      'update-preview': ->
        console.log 'update'
        @getEntry()

    methods:
      getEntry: ->
        @$http.get('entries/' + @$route.params.page_id)
          .then (response) ->
            @$set('entry', response.data)
          .catch (response) ->
            console.error(response) 

      addBlock: (type) ->
        switch type
          when 'hero'
            @entry.blocks.push(
              type: 'hero'
            )

          when 'markdown'
            @entry.blocks.push(
              type: 'markdown'
              content: 'Add content here.'
              settings:
                fontSize: 't-0'
                contentWidth: 8
            )

          when 'images'
            @entry.blocks.push(
              type: 'images'
            )

          when 'listings'
            console.log 'add listing'
            @entry.blocks.push(
              type: 'listings'
              content: [
                {
                  address: '123 Ocean St.'
                }
              ]
              settings: {
                fontSize: 'tn-1'
              }
            )

          when 'map'
            console.log 'add map'
            @entry.blocks.push(
              type: 'map'
            )

      shortcut: (e) ->
        evtobj = window.event ? event : e

        if ((evtobj.ctrlKey || evtobj.metaKey) && evtobj.keyCode == 83)
          @save()
          e.preventDefault()

</script>

<template>

  <div class="relative pb-8" style="min-height: 100vh;">
    <editor-item-toolbar v-if="entry.title" transition="slideInDown" :title="entry.title" :endpoint="'entries/' + $route.params.page_id" :data="entry"></editor-item-toolbar>

    <!-- Content blocks. -->
    <!-- > Content (Rich-Text)
         > Listings (Real Estate Specific. Sorting/querying functionality. Search/fiter/sort the index. Map View.)
         > Map
         > Testimonials
         > Link ()
         > Newsletter Signup
         -->

    <!-- Page preview. -->
    <div v-if="entry.title" transition="slideInUp" class="px-4 pt-6 pb-4">
      <div class="cbg-white shadow relative pb-4">

        <header class="absolute-top-left wp-100 p-3 z-8">
          <div class="h-5 cbg-black"></div>
        </header>

        <content-builder :blocks="entry.blocks"></content-builder>
      </div>
    </div>

      <div class="container mt-5">
        <div class="wp-100 flex flex-wrap tn-1 mln-1">
          <a @click.prevent="addBlock('images')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="image-landscape"></span>
              <span class="d-block mbn-1">Images</span>
            </div>
          </a>
          <a @click.prevent="addBlock('markdown')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="align-left"></span>
              <span class="d-block mbn-1">Markdown</span>
            </div>
          </a>
          <a @click.prevent="addBlock('listings')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="list-rich"></span>
              <span class="d-block mbn-1">Collection</span>
            </div>
          </a>
          <a @click.prevent="addBlock('map')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="map"></span>
              <span class="d-block mbn-1">Map</span>
            </div>
          </a>
          <a @click.prevent="addBlock('map')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="map"></span>
              <span class="d-block mbn-1">Sign-Up</span>
            </div>
          </a>
          <a @click.prevent="addBlock('map')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="map"></span>
              <span class="d-block mbn-1">Call to Action</span>
            </div>
          </a>
          <a @click.prevent="addBlock('map')" href="#" class="col-md-2 pl-1 mb-1">
            <div class="px-2 py-4 ta-center c-black cbg-white">
              <span class="d-block iconic iconic-sm mb-1" data-glyph="map"></span>
              <span class="d-block mbn-1">Video</span>
            </div>
          </a>
        </div>
      </div>
  </div>

</template>