<script lang="coffee">

  module.exports =
    name: 'Hero'

    props:
      block: 
        default: ->
          return {}
      index:
        default: 0

</script>

<template>
  <div class="ratio-16_9 cbgg-6 mb-5 crop">
    <img v-if="block.image" :src="block.image.url" class="wp-100">
    <img v-else src="https://images.unsplash.com/photo-1415301918039-3a58086adf06?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=82cc302ef1b2e29e42981f0d687c134b"class="wp-100">
  </div> <!-- The preview container. -->
</template>