<script lang="coffee">

  module.exports =
    name: 'Images'

    components:
      ThemeTemplate: require('./shared/theme-template')('images')

    props:
      block: 
        default: ->
          return {}
      index:
        default: 0

    data: ->
      editMode: true
      templateFile: 'images'

</script>

<template>
  <section>
    <div v-if="editMode" class="relative">
      <div class="absolute-top-left wp-100 hp-100 px-2">
         <div class="wp-100 hp-100 hover-borderFadeIn-target"></div>
      </div>
      <theme-template :block="block"></theme-template>
    </div>

    <!-- <theme-images v-if="!editMode" :theme="$root.theme"></theme-images> -->
  </section>
</template>