<script lang="coffee">

  mapbox = require('mapbox.js')

  module.exports =
    name: 'Map'

    props:
      block: 
        default: ->
          return {}
      index:
        default: 0

    data: ->
      map: null
      geocoder: null
      queryKey: ''
      editMode: true

    ready: ->
      L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXNnbWVkaWEiLCJhIjoiY2lzbXA0NHB3MDF3NTJzcGJyNmVydDA2ayJ9.NIzhyS66RoXp4-dUDUg1bw'
      @geocoder = L.mapbox.geocoder('mapbox.places')
      @map = L.mapbox.map('map-'+@index, 'mapbox.streets')
      @map.scrollWheelZoom.disable()

      if @block.mapKey && @block.mapKey.length > 0
        @queryKey = @block.mapKey
        @showMap()

    methods:
      buildMap: (err, data) ->
        if (data.lbounds)
          @map.fitBounds(data.lbounds)
        else if (data.latlng)
          @map.setView([data.latlng[0], data.latlng[1]], 15)
          L.marker([data.latlng[0], data.latlng[1]]).addTo(@map)

      showMap: ->
        @block.mapKey = @queryKey

        @geocoder.query(@block.mapKey, @buildMap)

        @map.setView([40, -74.50], 9)
       

</script>

<template>
  <div>

    <div id="map-{{ index }}" class="wp-100 h-8"></div>

    <div v-if="editMode" id="editor-menu-{{ index }}" >
      <div class="flex cbgg-1 rounded">
        <input @keyup.enter="showMap" v-model="queryKey" type="text" class="cbgg-1 py-1 px-2 tn-1 c-white antialiased minw-7">
      </div>
    </div>
  </div>
</template>