<script lang="coffee">
  $ = require('jquery')

  module.exports =
    name: "ContentBlock"

    components:
      ThemeTemplate: require('./shared/theme-template')('markdown')

    mixins: [
      require('./../mixins/content-block')
    ]

    props:
      index:
        default: 0
      block: 
        default: ->
          return {}

    data: ->
      editMode: false
      admin: true
      editor: null
      templateFile: 'markdown'

    methods:
      updateContent: (e) ->
        @block.content = $('#editor-'+@index).html()

      updateSettings: (setting, value) ->
        switch setting
          when 'fontSize' then @block.settings.fontSize = value
          when 'contentWidth' then @block.settings.contentWidth = value

</script>

<template>

  <div v-if="admin" class="relative">
    <div @click="enableEditMode" style="cursor: col-resize;" class="absolute-top-left wp-100 hp-100 px-2">
       <div class="wp-100 hp-100 hover-borderFadeIn-target relative">
       </div>
    </div>

    <theme-template :block="block"></theme-template>
  </div>

  <theme-template v-else :block="block"></theme-template>

  <div v-if="editMode" class="overlay-80 fixed-top-left wp-100 hp-100 z-9 px-5 py-5">
    <a href="#" @click.prevent="disableEditMode" class="absolute-top-left wp-100 hp-100 zn-1"></a>
    <div class="container hp-100">
      <div class="col-md-10 push-md-1 hp-100 pb-4">
        <div class="cbgg-8 wp-100 py-1 px-2 b-7 relative z-2">
          <button @click.prevent="updateText('bold')" class="iconic iconic-sm" data-glyph="bold"></button>
          <button @click.prevent="updateText('italic')" class="iconic iconic-sm" data-glyph="italic"></button>
          <button @click.prevent="updateText('link')" class="iconic iconic-sm" data-glyph="link-intact"></button>
        </div>
        <textarea @focus="rt" id="editor" class="wp-100 hp-100 z-3 t-0 p-3" v-model="block.content"></textarea>
      </div>
    </div>
  </div>

</template>

