<script lang="coffee">

  module.exports =
    name: "ContentBuilder"

    components:
      Hero: require('../../modules/hero')
      Images: require('../../modules/images')
      Markdown: require('../../modules/markdown')
      Collection: require('../../modules/collections/index')
      Map: require('../../modules/map')
      EditorItemToolbar: require('../shared/editor-item-toolbar')

    props:
      blocks:
        type: Array
        required: true
        default: ->
          return []

    route:
      data: ->
        @getEntry()

    events:
      'delete-block': (index) ->
        @entry.blocks.splice(index, 1)

    methods:
      addBlock: (type) ->
        switch type
          when 'hero'
            @entry.blocks.push(
              type: 'hero'
            )

          when 'markdown'
            @entry.blocks.push(
              type: 'markdown'
              content: 'Add content here.'
              settings:
                fontSize: 't-0'
                contentWidth: 8
            )

          when 'images'
            @entry.blocks.push(
              type: 'images'
            )

          when 'listings'
            @entry.blocks.push(
              type: 'listings'
              content: [
                {
                  address: '123 Ocean St.'
                }
              ]
              settings: {
                fontSize: 'tn-1'
              }
            )

          when 'map'
            @entry.blocks.push(
              type: 'map'
            )

      shortcut: (e) ->
        evtobj = window.event ? event : e

        if ((evtobj.ctrlKey || evtobj.metaKey) && evtobj.keyCode == 83)
          @save()
          e.preventDefault()

</script>

<template>
    <!-- Content blocks. -->
    <!-- > Content (Rich-Text)
         > Listings (Real Estate Specific. Sorting/querying functionality. Search/fiter/sort the index. Map View.)
         > Map
         > Testimonials
         > Link ()
         > Newsletter Signup
         -->

    <!-- Page preview. -->
    <div v-for="block in blocks">
      <hero v-if="block.type == 'hero'" :index="$index" :block="block"></hero>
      <images v-if="block.type == 'images'" :index="$index" :block="block"></images>
      <markdown v-if="block.type == 'markdown'" :index="$index" :block="block"></markdown>
      <collection v-if="block.type == 'collection'" :index="$index" :block="block"></collection>
      <map v-if="block.type == 'map'" :index="$index" :block="block"></map>
    </div>

  </div>

</template>