<script lang="coffee">

  module.exports =
    name: 'EditorToolbar'

    data: ->
      pages: ->
        return []

    ready: ->
      @$http.get('entries')
        .then (response) ->
          @$set('pages', response.data)
        .catch (response) ->
          console.error(response)

    # data: ->
    #   sortOptions:
    #     onEnd: (evt) =>
    #       block = @pages[0].blocks[evt.oldIndex]
    #       @pages[0].blocks.splice(evt.oldIndex,1)
    #       @pages[0].blocks.splice(evt.newIndex,0,block)
    #       console.log @pages[0].blocks.length

    #       @$http.put('http://localhost:3000/api/entries/'+ @pages[0]._id, { title: @pages[0].title, blocks: @pages[0].blocks })
    #         .then (response) =>
    #           console.log 'Saved:', @pages[0]._id
    #           @updatePreview()
    #         .catch (response) ->
    #           console.error(response)

    # methods:
    #   updatePreview: ->
    #     @$dispatch('update-preview')


</script>

<template>

  <!-- Editor toolbar. -->
  <aside class="fixed-top-left hp-100 wp-20 pb-3 cbg-black antialiased">
    <nav>
      <div class="h-5 bb-black relative ml-3 items-center">
        <a v-link="{ path: '' }" class="d-block absolute-left-middle brand">
          <img src="/images/logomark-white.svg" class="hp-100" />
        </a>
      </div>

      <div class="mt-4 mb-3">
        <div class="flex items-center mb-2 pr-3">
          <h3 class="caps tn-2 tw-semibold cg-4  px-3">Pages</h3>
          <button class="item-right px-1 py-1 cbgg-4 circle relative">
            <span class="iconic iconic-xs absolute-center-middle" data-glyph="plus-thin"></span>
          </button>
        </div>
        <div v-for="page in pages">
          <a v-link="{ path: '/admin/pages/' + page._id, activeClass: 'bl-white' }" class="d-block c-white mb-1 px-3 bl-black">{{ page.title }}</a>
        </div>
      </div>

      <div class="mt-4 mb-3">
        <h3 class="caps tn-2 tw-semibold cg-4 mb-2 px-3">Settings</h3>
        <a v-link="{ path: '/admin/settings/navigation', activeClass: 'bl-white' }" class="d-block c-white mb-1 px-3 bl-black">Navigation</a>
        <a v-link="{ path: '/admin/settings/site-info', activeClass: 'bl-white' }" class="d-block c-white mb-1 px-3 bl-black">Site Information</a>
        <a href="#" class="d-block c-white mb-1 px-3 bl-black">Design</a>
      </div>
    </nav>

    <div class="absolute-bottom-left wp-100">

      <div class="flex items-center px-1 py-1 bt-2">
        <div class="w-3 h-3 cbgg-1 circle"></div>
        <div class="ml-1">
          <p class="tn-2 caps tw-semibold c-white">Chris Griffith</p>
          <p class="tn-3 caps tw-semibold cg-4">Account</p>
      </div>
    </div>

  </aside>
</template>
