<script lang="coffee">

  module.exports =
    name: 'EditorItemToolbar'

    props:
      endpoint:
        required: true
        type: String
      data:
        required: true
      title:
        required: true
      options:
        default: ->
          return {}

    methods:
      save: ->
        @$http.put(@endpoint, @data)
          .then (response) ->
            console.log 'Saved:', @endpoint
          .catch (response) ->
            console.error(response)


</script>

<template>

  <div class="fixed-top-right wp-80 cbg-white bb-7 z-9">
    <div class="flex items-center h-4">
      
      <a v-if="options.backLink" v-link="{ path: '/content/collections/' + $route.params.model_name }" class="d-inline-block px-3 py-2 br-7">
        <span class="iconic" data-glyph="arrow-left-fill-large"></span>
      </a>

      <h1 class="caps tn-2 tw-semibold pl-4">{{ data.title }}</h1>

      <div class="flex items-center item-right">
        <button @click="save" class="caps cg-5 pl-2 pr-2 tn-2" style="padding-top: 0.65rem; padding-bottom: 0.5rem;">
          <span class="iconic iconic-sm" data-glyph="hard-drive"></span>
        </button>

        <button class="caps tn-2 tw-semibold pr-2">
          <span v-if="data.published" class="px-1 tn-3 cbg-success c-white antialiased tw-semibold ml-1">Live</span>
        </button>

        <a v-link="{ path: '/' }" class="cg-5 pr-4" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
          <span class="iconic iconic-sm" data-glyph="eye-open"></span>
        </a>
      </div>
    </div>
  </div>

  <!-- 
  <header class="fixed-top-right p-2 z-10">
    <div class="flex items-center antialiased">
      <div class="flex items-center rounded shadow cbg-black">
        <button @click="save" class="caps tw-semibold c-white px-2 tn-2" style="padding-top: 0.65rem; padding-bottom: 0.5rem;">
          <span class="iconic iconic-sm" data-glyph="fork"></span>
        </button>
        <button @click="save" class="caps tw-semibold c-white px-2 tn-2 bl-1" style="padding-top: 0.65rem; padding-bottom: 0.5rem;">
          <span class="iconic iconic-sm" data-glyph="fullscreen-enter"></span>
        </button>
      </div>
      <div class="flex items-center rounded shadow cbg-black ml-1">
        <button @click="save" class="caps c-white pl-2 pr-2 tn-2" style="padding-top: 0.65rem; padding-bottom: 0.5rem;">
          <span class="iconic iconic-sm" data-glyph="hard-drive"></span><span class="ml-1 tw-bold">Save</span>
        </button>
      </div>
    </div>
  </header> 
  -->

</template>