$interactions: (
  borderFadeIn: (
    settings: (
      cursor: pointer,
      border: 1px solid transparent
    ),
    start: (
    ),
    end: (
      border: 1px solid lighten(#000, 91%)
    )
  ),
);
