<script lang="coffee">

  module.exports =
    replace: false

    data: ->
      theme: 'threshold'

    ready: ->
      window.theme = @theme

</script>

<template>

  <router-view></router-view>

</template>