<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <title><%= site_info.site_name %>&reg;</title>
  
  <meta name="description" content="<%= site_info.site_description %>">

  <link rel="stylesheet" href="/assets/css/app.css">
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

</head>

<body>

  <script>
    window.__env = {
      apiUrl: '<%= env.apiUrl %>'
    }
  </script>

  <script src="/assets/js/app.js"></script>
  <script>require('initialize');</script>
</body>

</html>
