<script lang="coffee">

  module.exports =
    name: 'Page'

    components:
      ContentBuilder: require('./../shared/content-builder')

    data: ->
      entry: []
      title: 'Title'

    route:
      data: ->

        if @$route.params.slug
          getURL = 'entries/' + @$route.params.slug
        else
          getURL = 'entries/home'

        @$http.get(getURL)
          .then (response) ->
            @$set('entry', response.data)

          .catch (response) ->
            console.error response

</script>

<template>    

  <content-builder :blocks="entry.blocks"></content-builder>

</template>