<script lang="coffee">

  module.exports=
    name: 'AdminLayout'

    components:
      EditorToolbar: require('../views/shared/editor-toolbar')

</script>

<template>


  <main class="flex">

    <editor-toolbar></editor-toolbar>

    <div class="item-right wp-80 cbgg-8" style="min-height: 100vh;">
      <router-view></router-view>
    </div>
  </main>

</template>