<script lang="coffee">

  module.exports=
    name: 'SiteLayout'

    data: ->
      entries: []

    route:
      data: ->
        @$http.get('entries')
          .then (response) ->
            @$set('entries', response.data)

            # Build the URLs.
            for entry in @entries
              if entry.home
                entry.path = '/'
              else
                entry.path = '/' + entry.slug

          .catch (response) ->
            console.error response
</script>

<template>

  <header class="absolute-top-left wp-100 p-3 z-9 relative">
    <div class="flex p-3 wp-100 cbg-black">
      <nav class="item-right">
        <a v-for="entry in entries" v-link="{ path: entry.path }" class="caps tn-1 c-white antialiased tw-semibold px-1">{{ entry.title }}</a>
      </nav>
    </div>
  </header>

  <main>
    <router-view></router-view>
  </main>

</template>